body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 10vh;
}

.top-banner {
    background: url('images/top-banner.png') no-repeat;
}

.half-width {
    width: 50%;
    padding: 2%;
    margin: 2%;
    box-sizing: border-box;
    
}

.half-width img {
    width: 95%;
}

.link-button {
    text-decoration: none;
    text-transform: uppercase;
    background: orange;
    color: #ffffff;
    padding: 10px 32px;
    border-radius: 6px;
    background-image: linear-gradient(to right, orange, #e95714);
    margin-top: 10px;
}

.dream-big {
    background: url('images/dream-bg.png') no-repeat right;
}

.experience {
    background: url('./images/exp-bg.png') no-repeat left center;
}

.experience-item {
    box-shadow: 5px 5px 25px gray;
    border-radius: 8px;
}

#full-stack-dev {
    border-left: 5px solid;
    border-image: linear-gradient(orange, red) 1;
}

#baby-web-dev {
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan) 1;
}

footer p {
    text-align: center;
}